<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Statistics</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<header>
    <section class="banner">
        <div class="banner-img">
            <a href="/">
                <img src="../images/covid.svg" alt="" srcset="">
            </a>
        </div>
        <div class="banner-title">
            <h1>Covid-19 Statistics</h1>
            <h2>A website to provide you with all the uodates on Covid-19 statistics around the world</h2>
        </div>
    </section>
    <nav>
     <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/allCountries">All Countries</a></li>
         <li><a href="/records">My Records</a></li>

     </ul>   
    </nav>
</header>